# Environment files
.env
.env*

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
ENV/
.venv/

# MacOS 
.DS_Store
*.DS_Store

# Ignore coursework output folders
# COMP0173_Figures/
# COMP0173_PDF/

model_output*